<ion-tabs class="tabs-positive tabs-color-stable tabs-top" ng-controller="locateItemsController">
    	<!-- <ion-tab  on-select="" title="{{'Demo'}}">
    		<ion-view>
    			<ion-content has-header="true" scroll="false">
    				    <div has-header="true" ng-include="'templates/common/locateitemsdemo.html'"></div>
    			</ion-content>
    		</ion-view>
    	</ion-tab> -->
		  <ion-tab title="{{'My Productivity App'}}" style="background-color: #007dc6 !important" >
	  	     <ion-view>
    			   <ion-content class="reduceheadergap" has-header="true" scroll="false">
               <div has-header="true" ng-include="'templates/common/locateitems.html'"></div>
    			   </ion-content>
		      </ion-view>
  	 </ion-tab>
</ion-tabs>
