<ion-view view-title="Demo">
  <ion-content class="padding">
    <h2 style="text-align:center">Welcome to Hybrid App demo</h2>
    <div class="card">
      <div class="item item-divider" style="text-align:center">
        What can you expect?
      </div>
      <div class="item item-text-wrap row">
        Build your own "SIRI" or your own "Talking Tom"
      </div>
      <div class="item item-divider">
        In simple words it makes your programming life easy!
      </div>
    </div>
    <div class="card">
      <div class="item item-divider" style="text-align:center">
        How to use this app?
      </div>
      <div class="item item-text-wrap">
        Go to "Find Location tab". Click on Ask and say " hey, hi". Want to find our location? Ask for "hey, where is fpp Bay?"
      </div>
      <div class="item item-divider">
        come to us, we will help you build your own speech assistant
      </div>
    </div>
    <div style="text-align:center">
      <img src="img/gears.svg"/>
    </div>
  </ion-content>
</ion-view>
