<ion-view locate-items view-title="Find Location">
<ion-content >
<div>
  <div class="mdCenterClass" style="margin: 80px 40px 20px 40px;">
    <button class="ion-mic-a" ng-click="activateSpeech()" style="border-radius:100%;border:none;height:50px;width:50px;box-shadow: 0px 0px 19px 0px;"></button>
  </div>
</div>
<div style="text-align:center">
  <div contenteditable="true" class="questionContentDiv contentInputBox mdCenterClass" placeholder="Your Response goes here.." ng-model="spokenValue">{{spokenValue}}</div>
  <!-- <md-button class="md-raised">Go</md-button> -->
  <div id="audio"></div>
</div>
<div ng-if="speakingFlag" style="text-align:center">
  <img class="mdcenterClass" src="img\ripple.svg"/>
</div>
<!-- ng-class="speakingFlag == 1 ? 'rippleLessOpacity' : 'rippleLessOpacity'" -->
<div id="audio"></div>
<div style="text-align:center">
  <img class="mdcenterClass" src="img\ellipsis.svg"/>
</div>
<div class="gpsparentDiv">
  <div class="gpsDiv">
  <img style="height:30px;width:100%" class="mdcenterClass" src="img\gps.svg"/>
  </div>
</div>

</ion-content>
</ion-view>
